---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Hero from "../sections/hero.astro";
import About from "../sections/about.astro";
import Services from "../sections/services.astro";
import Team from "../sections/team.astro";
import Portfolio from "../sections/portfolio.astro";
import Contact from "../sections/contact.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Astro with Tailwind">
  <Navbar />
  <Hero />
  <main>
    <h1 class="text-5xl">Hello world</h1>
    <About />
    <Services />
    <Portfolio />
    <Team />
    <Contact />
  </main>
  <Footer />
</Layout>
