---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Hero from "../mainPage/hero.astro";
import About from "../mainPage/about.astro";
import Services from "../mainPage/services.astro";
import Portfolio from "../mainPage/portfolio.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <Hero />
  <main>
    <About />
    <Services />
    <Portfolio />
  </main>
  <Footer />
</Layout>
