---
import Section from "../components/section.astro";
import Container from "../components/container.astro";
import SectionHeader from "../components/sectionHeader.astro";
---

<Section id="services" className="bg-[#f5f6f7]">
  <Container>
    <SectionHeader sectionTitle="Services">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        iusto tenetur nam dolores exercitationem sunt.
      </p>
    </SectionHeader>
    <div class="grid grid-cols-3 gap-5"></div>
  </Container>
</Section>
