---
import Section from "../components/section.astro";
import Container from "../components/container.astro";
import SectionHeader from "../components/sectionHeader.astro";
---

<Section>
  <Container>
    <SectionHeader />
  </Container>
</Section>
