---
import Container from "./container.astro";
import Section from "./section.astro";

interface FooterInformation {
  infoHeader: string;
  infoLinks: string[];
}

const footerItems: FooterInformation[] = [
  {
    infoHeader: "USEFULL LINKS",
    infoLinks: [
      "Home",
      "About us",
      "Services",
      "Terms of service",
      "Privacy Policy",
    ],
  },
  {
    infoHeader: "OUR SERVICES",
    infoLinks: [
      "Web Desgin",
      "Web Development",
      "Product Management",
      "Marketing",
      "Graphic Design",
    ],
  },
  {
    infoHeader: "CONTACT US",
    infoLinks: [
      "A234 Jones Street",
      "Chicago, Il",
      "United States",
      "+1 3333 4545453 67",
      "info@example.com",
    ],
  },
];
---

<footer>
  <Section className="bg-primary">
    <Container>
      <div class="lg:grid grid-cols-3 gap-x-20">
        <div class="col-start-1 col-end-2 lg:pl-8 mb-10 text-white">
          <h2 class="text-3xl font-semibold mb-3">Astro</h2>
          <p class="text-sm md:text-base mb-3 leading-6">
            Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada
            terra videa magna derita valies darta donna mare fermentum iaculis
            eu non diam phasellus.
          </p>
          <div class="flex justify-start align-middle gap-x-3">
            <a target="_blank" href="https://www.facebook.com">
              <div class="fab fa-facebook text-xl"></div>
            </a>
            <a target="_blank" href="https://www.twitter.com">
              <div class="fab fa-twitter text-xl"></div>
            </a>

            <a target="_blank" href="https://www.instagram.com">
              <div class="fab fa-instagram text-xl"></div>
            </a>
            <a target="_blank" href="https://www.linkedin.com">
              <div class="fab fa-linkedin text-xl"></div>
            </a>
          </div>
        </div>
        <div class="col-start-2 col-end-4 text-white">
          <div class="sm:grid grid-cols-3">
            {
              footerItems.map((item) => {
                return (
                  <div class="leading-10 mb-8">
                    <h5 class="text-lg mb-4 font-bold">{item.infoHeader}</h5>
                    {item.infoLinks.map((link) => {
                      return (
                        <li class="list-none">
                          <a href="" class="hover:underline text-sm">
                            {link}
                          </a>
                        </li>
                      );
                    })}
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
    </Container>
  </Section>
  <div class="text-center py-8 bg-gray-200">
    <p class="text-sm md:text-base">
      &copy; Copyright <strong>Astro Co</strong>. All Rights Reserved
    </p>
    <p class="text-sm md:text-base">Designed by <strong>Astro</strong></p>
  </div>
</footer>
