---
import Button from "./button.astro";
---

<header class="w-full">
  <div class="w-full py-8 absolute z-10">
    <div class="md:container md:mx-auto px-3 lg:px-14 xl:px-20 2xl:px-32">
      <div class="flex justify-between items-center">
        <h1 class="text-white text-3xl font-bold uppercase">
          <a href="#">Zelion</a>
        </h1>
        <div
          class="hidden lg:flex justify-evenly text-white items-center gap-x-8"
        >
          <a href="#" class="uppercase text-sm font-medium">Home</a>
          <a href="#about" class="uppercase text-sm font-medium">About</a>
          <a href="#services" class="uppercase text-sm font-medium">Services</a>
          <a href="#portfolio" class="uppercase text-sm font-medium"
            >Portfolio</a
          >
          <a href="#team" class="uppercase text-sm font-medium">Team</a>
          <a href="#contact" class="uppercase text-sm font-medium">Contact</a>
          <Button className="uppercase font-semibold text-sm">Join Us</Button>
        </div>
        <i id="menuBtn" class="lg:hidden fas fa-bars text-white text-2xl"></i>
      </div>
    </div>
  </div>
  <div
    id="sideBarMenu"
    class="fixed z-10 -left-96 w-96 h-screen bg-primary px-6 pt-8"
  >
    <h2 class="text-4xl px-5 font-semibold text-white mb-10">Astro</h2>
    <ul class="w-full">
      <li
        class="flex gap-x-4 px-5 py-5 hover:bg-cyan-700 hover:cursor-pointer transition ease-in-out duration-300"
      >
        <i class="fas fa-home text-white text-sm"></i>
        <a href="#" class="uppercase text-base font-medium text-white w-full"
          >Home</a
        >
      </li>
      <li
        class="flex gap-x-4 px-5 py-5 hover:bg-cyan-700 hover:cursor-pointer transition ease-in-out duration-300"
      >
        <i class="fa fa-info-circle text-white text-sm"></i>
        <a
          href="#about"
          class="uppercase text-base font-medium text-white w-full">About</a
        >
      </li>
      <li
        class="flex gap-x-4 px-5 py-5 hover:bg-cyan-700 hover:cursor-pointer transition ease-in-out duration-300"
      >
        <i class="fa fa-truck text-white text-sm"></i>
        <a
          href="#services"
          class="uppercase text-base font-medium text-white w-full">Services</a
        >
      </li>
      <li
        class="flex gap-x-4 px-5 py-5 hover:bg-cyan-700 hover:cursor-pointer transition ease-in-out duration-300"
      >
        <i class="fa fa-project-diagram text-white text-sm"></i>
        <a
          href="#portfolio"
          class="uppercase text-base font-medium text-white w-full">Portfolio</a
        >
      </li>
      <li
        class="flex gap-x-4 px-5 py-5 hover:bg-cyan-700 hover:cursor-pointer transition ease-in-out duration-300"
      >
        <i class="fa fa-users text-white text-sm"></i>
        <a
          href="#team"
          class="uppercase text-base font-medium text-white w-full">Team</a
        >
      </li>
      <li
        class="flex gap-x-4 px-5 py-5 hover:bg-cyan-700 hover:cursor-pointer transition ease-in-out duration-300"
      >
        <i class="fa fa-phone text-white text-sm"></i>
        <a
          href="#contact"
          class="uppercase text-base font-medium text-white w-full">Contact</a
        >
      </li>
    </ul>
  </div>
</header>

<script>
  const menuBtn = document.getElementById("menuBtn");
  const sideBarMenu = document.getElementById("sideBarMenu");

  let isOpen = false;
  menuBtn.addEventListener("click", function () {
    console.log("sadfshfj");
    if (!isOpen) {
      sideBarMenu.style.transition = "left 0.3s ease-out";
      sideBarMenu.style.left = "0";
      isOpen = !isOpen;
    } else {
      sideBarMenu.style.transition = "left 0.3s ease-out";
      sideBarMenu.style.left = "-24rem";
      isOpen = !isOpen;
    }
  });
</script>
