---
import Section from "../components/section.astro";
import SectionHeader from "../components/sectionHeader.astro";
import aboutImg from "../assets/images/about-img.jpg";

interface GridInterface {
  fontawesomeIconClass: string;
  heading: string;
  paragraph: string;
}

const gridSection: GridInterface[] = [
  {
    fontawesomeIconClass: "fa fa-globe",
    heading: "Lorem ipsum",
    paragraph:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, rerum.",
  },

  {
    fontawesomeIconClass: "fa fa-industry",
    heading: "Dolor sit amet",
    paragraph:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, rerum.",
  },

  {
    fontawesomeIconClass: "fa fa-gears",
    heading: "Consectetur adipisicing",
    paragraph:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, rerum.",
  },
];
---

<Section id="about">
  <div class="container mx-auto px-3">
    <SectionHeader
      headerText="About Us"
      paragraph="Green Clean is a professional cleaning company that offers eco-friendly cleaning solutions for homes and businesses."
    />
    <div class="lg:grid grid-cols-3 mb-20 gap-5">
      {
        gridSection.map((i) => {
          return (
            <div class="p-10 text-center">
              <i class={`${i.fontawesomeIconClass} text-4xl mb-5 primary`} />
              <h3 class="text-2xl text-gray-600 font-semibold mb-5">
                {i.heading}
              </h3>
              <p class="text-gray-600">{i.paragraph}</p>
            </div>
          );
        })
      }
    </div>
    <div class="lg:grid grid-cols-2">
      <img src={aboutImg} alt="" />
      <div class="lg:px-10 mt-5 lg:mt-0">
        <h3 class="text-3xl font-semibold mb-3">We are</h3>
        <p class="text-zinc-600 leading-7 mb-8 italic">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo impedit
          veritatis saepe! Totam, consectetur illo voluptates earum porro esse
          sit soluta et iusto corrupti, voluptatem atque ipsum maiores quod
          fugiat.
        </p>
        <ul class="lg:ml-10 mb-10">
          <li class="text-zinc-600 mb-3 leading-7">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, earum
            maxime! Fugit unde enim quasi, magni maxime voluptatem, itaque,
            culpa distinctio iste eveniet similique quis!
          </li>
          <li class="text-zinc-600 mb-3 leading-7">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, earum
            maxime! Fugit unde enim quasi, magni maxime voluptatem, itaque,
            culpa distinctio iste eveniet similique quis!
          </li>
          <li class="text-zinc-600 mb-3 leading-7">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, earum
            maxime! Fugit unde enim quasi, magni maxime voluptatem, itaque,
            culpa distinctio iste eveniet similique quis!
          </li>
        </ul>
      </div>
    </div>
  </div>
</Section>

<style>
  li::before {
    content: "\2714";
    margin-right: 10px;
    font-weight: 600;
    display: inline;
    color: var(--primary);
  }
</style>
