---
import Section from "../components/section.astro";
import SectionHeader from "../components/sectionHeader.astro";
import Button from "../components/button.astro";

const inputClassStyles =
  "w-full px-3 py-2.5 text-lg font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none";
---

<Section id="contact">
  <div class="container mx-auto">
    <SectionHeader
      headerText="Contact Us"
      paragraph="Green Clean is a professional cleaning company that offers eco-friendly cleaning.."
    />
  </div>
  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe
        width="100%"
        height="100%"
        id="gmap_canvas"
        src="https://maps.google.com/maps?q=california&t=&z=10&ie=UTF8&iwloc=&output=embed"
      ></iframe><a href="https://2yu.co">2yu</a><br />
      <style>
        .mapouter {
          position: relative;
          text-align: right;
          height: 550px;
          width: 100%;
        }
      </style><a href="https://embedgooglemap.2yu.co/">html embed google map</a
      ><style>
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 100%;
          width: 100%;
        }
      </style>
    </div>
  </div>
  <div class="container mx-auto mt-20">
    <SectionHeader
      headerText="Get In Touch"
      paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit. "
    />

    <div class="grid grid-cols-3 mb-5">
      <div class="col-start-1 col-end-2">
        <div class="flex gap-x-5 mb-20">
          <i class="fa fa-location text-3xl"></i>
          <div class="block">
            <h3 class="text-2xl mb-3">Location</h3>
            <p class="text-sm">
              Bldg 5, Duterte Street, Davao City, Philippines
            </p>
          </div>
        </div>
        <div class="flex gap-x-5 mb-20">
          <i class="fa fa-envelope text-3xl"></i>
          <div class="block">
            <h3 class="text-2xl mb-3">Location</h3>
            <p class="text-sm">info@email.com</p>
          </div>
        </div>
        <div class="flex gap-x-5 mb-20">
          <i class="fa fa-phone text-3xl"></i>
          <div class="block">
            <h3 class="text-2xl mb-3">Call</h3>
            <p class="text-sm">09123456789</p>
          </div>
        </div>
        <div class="flex gap-x-5 mb-20">
          <i class="fa fa-clock text-3xl"></i>
          <div class="block">
            <h3 class="text-2xl mb-3">Open Hours</h3>
            <p class="text-sm">Monday - Friday</p>
            <p class="text-sm">9:00AM - 05:00PM</p>
          </div>
        </div>
      </div>
      <div class="col-start-2 col-end-4">
        <form class="p-10 w-full bg-white">
          <div class="grid grid-cols-2 gap-7 mb-7">
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Your Name"
              class={inputClassStyles}
            />
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Your Email"
              class={inputClassStyles}
            />
          </div>
          <input
            type="text"
            name="subject"
            id="subject"
            placeholder="Subject"
            class={`${inputClassStyles} mb-7`}
          />
          <textarea
            name="message"
            id="message"
            rows="10"
            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none mb-7"
            placeholder="Your Message"
          >
          </textarea>
          <div class="flex space-x-2 justify-center">
            <Button>Submit</Button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bg-gray-200 py-20">
    <div class="container mx-auto">
      <SectionHeader
        type="secondary"
        headerText="Our News Letter"
        paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit. "
      />
      <div class="mb-6 flex w-2/4 mx-auto">
        <input
          type="text"
          id="base-input"
          class="bg-gray-50 text-gray-900 text-sm block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
          placeholder="Email address"
        />
        <Button>Subscribe</Button>
      </div>
    </div>
  </div>
</Section>
