---
import heroImg from "../assets/images/vector-art-4.png";
import Button from "../components/button.astro";

interface HeroContent {
  bgImage: string;
  heroHeader: string;
  heroParagraph: string;
}

const heroContent: HeroContent[] = [
  {
    bgImage: "",
    heroHeader: "First Hero Slide",
    heroParagraph:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat nulla labore inventore quia beatae architecto, tenetur eius nobis temporibus debitis",
  },
  {
    bgImage: "",
    heroHeader: "Second Hero Slide",
    heroParagraph:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat nulla labore inventore quia beatae architecto, tenetur eius nobis temporibus debitis",
  },
  {
    bgImage: "",
    heroHeader: "Third Hero Slide",
    heroParagraph:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat nulla labore inventore quia beatae architecto, tenetur eius nobis temporibus debitis",
  },
];
---

<div id="home" class="swiper w-full h-screen">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {
      heroContent.map((i) => {
        return (
          <div class="swiper-slide relative bg-primary">
            <div class="container mx-auto px-3 relative top-1/4">
              <div class="lg:grid grid-cols-2 gap-x-5">
                <article class="flex flex-col justify-center mb-6">
                  <h1 class="text-white text-7xl font-semibold mb-5">
                    {i.heroHeader}
                  </h1>
                  <p class="text-white text-lg mb-5 leading-8">
                    {i.heroParagraph}
                  </p>
                  <Button>Get Started</Button>
                </article>
                <img src={heroImg} alt="" />
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev text-white ml-10"></div>
  <div class="swiper-button-next text-white mr-10"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<script type="module">
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js";
  const swiper = new Swiper(".swiper", {
    autoplay: {
      delay: 5000,
    },
    // Optional parameters
    direction: "horizontal",
    loop: true,

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      bulletActiveClass: "swiper-pagination-bullet-active bg-white",
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // And if we need scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
      dragClass: "swiper-scrollbar-drag bg-white",
    },
  });
</script>
