---
import SectionHeader from "../components/sectionHeader.astro";
---

<section class="py-16">
  <div class="container mx-auto">
    <SectionHeader
      headerText="Portfolio"
      paragraph="Green Clean is a professional cleaning company that offers eco-friendly cleaning solutions for homes and businesses. Their team of experienced cleaners provides a range of services, including deep cleaning, regular maintenance, and specialized cleaning."
    />
  </div>
</section>
