---
import Section from "../components/section.astro";
import SectionHeader from "../components/sectionHeader.astro";

interface CardContent {
  fontIcon: string;
  cardHeader: string;
  cardParagraph: string;
}

const cardContent: CardContent[] = [
  {
    fontIcon: "fas fa-rocket",
    cardHeader: "Technology",
    cardParagraph:
      "Appropriately negotiate real-time content vis-a-vis accurate growth strategies. ",
  },
  {
    fontIcon: "fas fa-paint-brush",
    cardHeader: "Design",
    cardParagraph:
      "Appropriately negotiate real-time content vis-a-vis accurate growth strategies. ",
  },
  {
    fontIcon: "fas fa-user-shield",
    cardHeader: "Security",
    cardParagraph:
      "Appropriately negotiate real-time content vis-a-vis accurate growth strategies. ",
  },
  {
    fontIcon: "fas fa-people-group",
    cardHeader: "Community",
    cardParagraph:
      "Appropriately negotiate real-time content vis-a-vis accurate growth strategies. ",
  },
  {
    fontIcon: "fas fa-image-portrait",
    cardHeader: "Visual",
    cardParagraph:
      "Appropriately negotiate real-time content vis-a-vis accurate growth strategies. ",
  },
  {
    fontIcon: "fas fa-building",
    cardHeader: "Enterprise",
    cardParagraph:
      "Appropriately negotiate real-time content vis-a-vis accurate growth strategies. ",
  },
];
---

<Section id="services">
  <div class="container mx-auto px-3">
    <SectionHeader
      headerText="Services"
      paragraph="Green Clean is a professional cleaning company that offers eco-friendly cleaning"
    />
    <div class="lg:grid grid-cols-3 gap-10">
      {
        cardContent.map((content) => {
          return (
            <div class="block px-12 py-20 rounded-lg hover:shadow-2xl hover:-translate-y-3 duration-500 bg-white mb-10">
              <i class={`${content.fontIcon} text-4xl mb-3 primary`} />
              <h5 class="text-gray-900 text-2xl leading-tight font-semibold uppercase mb-2">
                {content.cardHeader}
              </h5>
              <p class="text-gray-700 text-base">{content.cardParagraph}</p>
            </div>
          );
        })
      }
    </div>
  </div>
</Section>
